#title-root {
  height: 200px;
  width: 100vw;
}

.To-DoList {
    color: aliceblue;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  text-shadow: 0px 4px 4px #2aabe2; 
  margin: 0px 50px;
}

img {
  height: 150px;
  width: 750px;
  margin: 40px 350px;  

}